:root {
    --montserrat: 'Montserrat', sans-serif;
    --font-size: 16px;
    --header-height: 64px;
    --white: #FFF;
    --black: rgba(0,0,0,.87);
    --yellow-light: rgba(255, 200, 0, 1);
    --yellow: rgba(255, 200, 0, 0.9);
    --grey: #f2f2f2e1;
}

html {
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

body {
    font-family: var(--montserrat), sans-serif;
    background-image: url("../img/bg_texture.jpg");
    background-repeat: repeat;
    background-size: 100px 100px;
    padding-top: var(--header-height);
    color: var(--white);
}

.container {
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.btn {
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
    padding: 14px 28px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-secondary {
    border: none;
    text-transform: none;
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--yellow-light);
    color: var(--black);
    border: none;
}


.form-group {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-group label {
    display: block;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    display: block;
    min-height: 40px;
    padding: 5px 14px;
    border-radius: 3px;
    line-height: 1.4px;
    width: 100%;
    box-sizing: border-box;
    font-size: .9rem;
    text-indent: 10px;
    border: none;
}

.divider-wrap {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.divider {
    height: 5rem;
    display: inline-block;
    border-left-width: 0.4rem;
    border-style: double;
    border-color: var(--yellow);
}


h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4px;
}
h2 {
    font-size: 1.2rem;
}

.d-none {
    display: none;
}