.banner {
    width: auto;
    height: 500px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.banner::after {
    content: "";
    background: url("../img/hero-banner.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.container {
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
}

.about,
.reservation {
    text-align: center;
}

.about__content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 2rem;
    align-items: center;
}

.about__description {
    line-height: 2rem;
    font-size: .9rem;
    letter-spacing: 2px;
}


.reservation__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.reservation .submit {
    margin-top: 1rem;
}